<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/header.css" rel="stylesheet" type="text/css">

    <title>Rob's Blog</title>
</head>
<header>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/articles">Articles</a>
        <a href="/about">About Me</a>
        <a href="/contact">Contact Me</a>
    </div> 
</header>