<%- include("partials/header.ejs") %>

<link rel="stylesheet" href="styles/main.css">
<body>
    <div class="container">
        <h1>Contact Me</h1>
        <li>Name: Robert Carcases</li>
        <li>Phone Number:</li>
        <li>Email:</li>    
    </div>
</body>
</html>

<%- include("partials/footer.ejs") %>
